body {
  background-color: rgba(166, 109, 44, 0.811);
}
#header {
  padding-top: 20px;
  padding-left: 40px;
  margin-bottom: 20px;
  margin-top: 20px;
}

#header #back {
  width: 20px;
  height: 10px;
  margin-right: 40px;
}

#header #game-logo {
  width: 70px;
  height: 70px;
  margin-right: 40px;
}

#header b {
  color: #f9b23d;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0px;
  text-align: center;
}

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
.image-game {
  width: 40%;
}
.default-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 20%;
  cursor: pointer;
}
.click-player-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 20%;
  background-color: #c4c4c4;
  border-radius: 20px;
  cursor: pointer;
}
.div-vs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 20vw;
  height: 20vh;
  background-color: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
}
.text-vs {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 144px;
  line-height: 196px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #bd0000;
}
.text-result {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
}
.refresh {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.refresh img {
  width: 5%;
}
