* h5,
h1,
h3,
p {
  color: white;
}
#home {
  background-size: 100% 100%;
  background-image: url(./assets/main-bg.jpg);
  object-fit: contain;
  height: 100vh;
}
#about {
  background-size: 100% 100%;
  background-image: url(./assets/the-games-bg.jpg);
  object-fit: contain;
  height: 100vh;
}
#features {
  background-size: 100% 100%;
  background-image: url(./assets/features.jpg);
  object-fit: contain;
  height: 100vh;
}
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: " ";
  background: #ffff;
  display: inline-block;
  position: absolute;
  left: 30px;
  width: 2px;
  height: 59%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: " ";
  background: #ffff;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ffff;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li.top:before {
  content: " ";
  background: transparent;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #ffff;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li > a {
  color: #ffb548;
  text-decoration: none;
}

ul.timeline > li > p {
  color: #ffff;
}

.Wrapper-Features-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #ffffff;
}

#requirements {
  background-size: 100% 100%;
  background-image: url(./assets/requirements.png);
  object-fit: contain;
  height: 100vh;
}

.requirements-main {
  padding-top: 100px;
}

.requirements-tebel h3 {
  color: #ffb548;
}

/* #score {
  background-size: 100% 100%;
  background-image: url(./assets/top-score-bg.png);
  object-fit: contain;
  height: 100vh;
}
 */

/* Score */
.Wrapper-score {
  background-size: 100% 100%;
  background-image: url(../html/assets/top-score-bg.png);
  object-fit: contain;
  height: 100vh;
  position: relative;
  color: #ffffff;
}

.score-content {
  height: 100%;
  align-items: center;
}

.score-kanan {
  display: flex;
  width: 100%;
}

.card {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
}

.card-2 {
  margin-right: 150px;
}

.card-kanan {
  margin-left: 150px;
}

.card-title {
  color: #ffb548;
}

/* footer */

.Wrapper-Footer {
  background-color: #080a0b;
  height: 100vh;
  color: #ffffff;
}

.Footer-Content {
  height: 100%;
  align-items: center;
}

.Footer-Content-Body p {
  font-size: 18px;
}
.footer {
  background-color: #080a0b;
}
